@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menuLinks{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.profile-gradient{
  background: linear-gradient(180deg, #8699d2 0%, #D6D5FF 100%);
}




