@tailwind base;
@tailwind components;
@tailwind utilities;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.menuLinks{
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color:#1A1919 ;
}